extends layout

block content
    div.container
        div.raw(style="padding: 15px")
            h1 hi #{user.nickname}
        div.row
            img(src=user.picture)
            p(style = "padding: 20px;")Getting started


